In [42]:
import pandas as pd
from datetime import datetime
import numpy as np
%matplotlib notebook

In [9]:
pwd

'C:\\Users\\Tony'

In [10]:
cd "D:\Google Drive\My Documents\Code_Developement\python_work\data_visualization"

D:\Google Drive\My Documents\Code_Developement\python_work\data_visualization

In [ ]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [ ]:
data

In [ ]:
purchases = pd.DataFrame(data)

purchases

In [ ]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

In [ ]:
purchases.loc[0]

In [ ]:
df = pd.read_csv('purchases.csv')

df

In [ ]:
df = pd.read_csv('purchases.csv', index_col=0)

df

In [ ]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

In [ ]:
movies_df.head()

In [ ]:
movies_df.tail(2)

In [ ]:
movies_df

In [ ]:
movies_df.info()

In [ ]:
movies_df.shape

In [ ]:
movies_df.columns

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime_minutes', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

In [ ]:
movies_df

In [ ]:
for col in movies_df:
    print(f'{col}\t\t\t{type(col)}')

In [ ]:
movies_df.columns

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

In [ ]:
movies_df.isnull()

In [ ]:
movies_df.isnull().sum()

In [ ]:
revenue = movies_df['revenue_millions']
print(type(revenue))
revenue

In [ ]:
revenue.head()

In [ ]:
revenue_mean = revenue.mean()

revenue_mean

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.describe()

In [ ]:
movies_df['genre'].describe()

In [ ]:
movies_df['genre'].value_counts().head(50)

In [ ]:
movies_df.corr()

In [ ]:
genre_col = movies_df['genre']
print(type(genre_col))
genre_col

In [ ]:
genre_col = movies_df[['genre']]
print(type(genre_col))
genre_col

In [ ]:
subset = movies_df[['genre', 'rating']]

subset.head()

In [ ]:
prom = movies_df.loc["Prometheus"]

prom

In [ ]:
prom = movies_df.iloc[0]
prom

In [ ]:
movie_subset = movies_df.iloc[1:4]
movie_subset

In [ ]:
condition = (movies_df['director'] == "Ridley Scott")

condition.head()

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"]

In [ ]:
movies_df[movies_df['rating'] >= 8.6]

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')]

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])]

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating')

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

In [ ]:
movies_df['rating'].plot(kind="box");

In [ ]:
movies_df.boxplot(column='revenue_millions', by='rating_category');

In [ ]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

In [ ]:
from dateutil import parser
date = parser.parse("4th of July, 2015")
date

In [ ]:
import numpy as np
date = np.array('2015-07-04', dtype=np.datetime64)
date

In [ ]:
date
ts1 =np.asarray([1, 2, 3, 4])
ts2 = pd.to_timedelta(ts1, 'D')

date + ts2

In [ ]:
import pandas as pd
date = pd.to_datetime("4th of July, 2015")
date

In [ ]:
date.strftime('%A')

In [ ]:
date + pd.to_timedelta(np.arange(32), 'D')

In [ ]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])
dates

In [ ]:
dates - dates[0]

In [ ]:
pd.date_range('2015-07-03', '2015-07-10')

In [ ]:
pd.date_range('2015-07-03', periods=8)

In [ ]:
pd.date_range('2015-07-03', periods=8, freq='H')

In [ ]:
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods=5, freq=BDay())

In [ ]:
df = pd.DataFrame({
        "Name": ["Braund, Mr. Owen Harris",
                 "Allen, Mr. William Henry",
                 "Bonnell, Miss. Elizabeth"],
        "Age": [22, 35, 58],
        "Height": [5.1, 5.5, 6.3],
        "Sex": ["male", "male", "female"]}
    )

In [ ]:
df

In [ ]:
df["Age"]

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")
ages

In [ ]:
df.min()

In [ ]:
df_desc=df.describe()['Age']
print(type(df_desc))
df_desc

In [14]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.info()

In [ ]:
titanic.describe()

In [ ]:
wse=pd.read_csv("wse.csv")
wse.describe()

In [ ]:
wse.head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(x='Date', y='Elevation',  data=wse, marker='o', color='r', linestyle='--')

In [ ]:
wse.dtypes

In [ ]:
times=wse['Date']

In [ ]:
times

In [ ]:
titanic.info()

In [ ]:
age_sex = titanic[["Age", "Sex"]]
print(age_sex.shape)
print(type(age_sex))
age_sex

In [ ]:
tmp1=titanic["Age"] > 35

In [ ]:
tmp1[1]

In [ ]:
titanic[tmp1]

In [ ]:
titanic["Age"] > 35

In [ ]:
above_35 = titanic[titanic["Age"] > 35]

In [ ]:
above_35.head

In [ ]:
titanic["Age"] > 35

In [ ]:
tmp1 = ( titanic["Sex"] == 'female' )

In [ ]:
titanic(tmp1)

In [ ]:
print(titanic.shape)
ywf = (titanic["Age"] < 21) & (titanic["Sex"]=='female')
#print(ywf)
yw=titanic[yw]
print(yw)

In [ ]:
women = titanic[(titanic["Sex"]=='female')]
women_alive =  titanic[(titanic["Sex"]=='female') & (titanic["Survived"]==1)]

men =  titanic[(titanic["Sex"]=='male')]
men_alive =  titanic[(titanic["Sex"]=='male') & (titanic["Survived"]==1)]

print(women.count())
print(women_alive.count())
print(men.count())
print(men_alive.count())

In [ ]:
titanic = pd.read_csv("titanic.csv")
titanic.info

In [ ]:
filter_age = titanic["Age"] < 10
filter_sex = titanic["Sex"] == 'female'
filter_age_sex = filter_age & filter_sex
titanic_filtered = titanic[filter_age_sex]
titanic_filtered[["Age", "Sex", "Survived"]]

In [ ]:
filter_class = titanic["Pclass"].isin([1])
titanic[filter_class]["Name"]

In [ ]:
titanic.notna().sum()

In [ ]:
age_filter = titanic["Age"] > 35
adult_names1 = titanic[age_filter][["Name", "Age"]]
adult_names2 = titanic.loc[titanic["Age"] > 35, ["Name", "Age"]]
print(adult_names1.head())
print(adult_names1.shape)
print(adult_names2.head())
print(adult_names2.shape)

In [ ]:
titanic.iloc[0:5,[0, 3, 4, 5]]

In [ ]:
titanic.iloc[0:3,3] = 'abbysomething'
titanic.head

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
air_quality = pd.read_csv("air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality.head()

In [ ]:
air_quality.plot()

In [ ]:
air_quality['station_paris'].plot()

In [ ]:
tmp = air_quality['station_paris']
print(type(tmp))
print(tmp.shape)
print(tmp)

In [ ]:
air_quality.plot.scatter(x='station_paris', y='station_london', alpha=0.5)

In [ ]:
dir(air_quality.plot)

In [ ]:
air_quality.plot.box()

In [ ]:
axs = air_quality.plot.area()

In [ ]:
axs = air_quality.plot.area(figsize=(12, 4))

In [ ]:
axs = air_quality.plot.area(figsize=(12, 4), subplots=True)

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4));

In [ ]:
air_quality.plot.area(ax=axs);

In [ ]:
plt.ion()

In [ ]:
air_quality.plot.area(ax=axs);

In [ ]:
air_quality.plot.area(ax=axs);

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4));

In [ ]:
air_quality.plot.area(ax=axs);

In [ ]:
axs.set_ylabel("NO$_2$ concentration");

In [ ]:
air_quality1 = pd.read_csv("air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality2 = pd.read_csv("air_quality_no2.csv", index_col=0, parse_dates=False)

In [ ]:
air_quality1.plot()
air_quality2.plot()

In [ ]:
print(air_quality1.head())
print(air_quality2.head())

In [ ]:
air_quality1.info

In [ ]:
air_quality1.describe()

In [ ]:
air_quality1["london_mg_per_cubic"] = air_quality1["station_london"] * 1.882

In [ ]:
air_quality1.head()

In [ ]:
air_quality1['ratio_paris_antwerp'] = air_quality1['station_paris']/ air_quality1['station_antwerp']
air_quality1.head()

In [ ]:
aq_renamed = air_quality1.rename(columns={'station_antwerp': 'ANT', 'station_paris': 'PAR' , 'station_london': 'LON' })
aq_renamed.head()

In [ ]:
aq_renamed2=aq_renamed.rename(columns=str.lower)
aq_renamed2.head()

In [ ]:
aq_renamed3= aq_renamed2.rename(columns=str.upper)
aq_renamed3.head()

In [ ]:
titanic = pd.read_csv("titanic.csv")
titanic.head

In [ ]:
titanic[['Age', 'Fare']].median()

In [ ]:
titanic[['Age', 'Fare']].describe()

In [ ]:
titanic.agg({'Age': ['min', 'max', 'median', 'skew'],
            'Fare': ['min', 'max', 'median', 'mean']})

In [ ]:
titanic.groupby("Sex")

In [ ]:
titanic.head()

In [ ]:
titanic.groupby("Sex").mean()

In [ ]:
titanic.groupby("Sex").mean()['Age']

In [ ]:
titanic.groupby("Sex")['Age'].mean()

In [ ]:
titanic.columns

In [ ]:
titanic.groupby("Sex")['Age'].shape

In [ ]:
titanic[['Survived', 'Sex']].groupby("Sex").mean()

In [ ]:
titanic_af = titanic['Age'] < 21
titanic[titanic_af][['Survived', 'Sex']].groupby("Sex").describe()

In [ ]:
titanic.groupby(["Sex", "Pclass"])["Fare"].describe()

In [ ]:
titanic.groupby(['Sex', 'Survived'])['Age'].describe()

In [ ]:
titanic.sort_values(by="Age").head(10)

In [ ]:
air_quality.head()

In [ ]:
aq2 = pd.read_csv("air_quality_long.csv")
aq2.head()

In [26]:
aq3 = pd.read_csv("air_quality_long.csv", index_col='date.utc')
print(aq3.index)
print(aq3.info())
print(aq3.head())

aq4 = pd.read_csv("air_quality_long.csv", index_col='date.utc', parse_dates=True)
print(aq4.index)
print(aq4.info())
print(aq4.head())

Index(['2019-06-18 06:00:00+00:00', '2019-06-17 08:00:00+00:00',
       '2019-06-17 07:00:00+00:00', '2019-06-17 06:00:00+00:00',
       '2019-06-17 05:00:00+00:00', '2019-06-17 04:00:00+00:00',
       '2019-06-17 03:00:00+00:00', '2019-06-17 02:00:00+00:00',
       '2019-06-17 01:00:00+00:00', '2019-06-16 01:00:00+00:00',
       ...
       '2019-04-09 11:00:00+00:00', '2019-04-09 10:00:00+00:00',
       '2019-04-09 09:00:00+00:00', '2019-04-09 08:00:00+00:00',
       '2019-04-09 07:00:00+00:00', '2019-04-09 06:00:00+00:00',
       '2019-04-09 05:00:00+00:00', '2019-04-09 04:00:00+00:00',
       '2019-04-09 03:00:00+00:00', '2019-04-09 02:00:00+00:00'],
      dtype='object', name='date.utc', length=5272)
<class 'pandas.core.frame.DataFrame'>
Index: 5272 entries, 2019-06-18 06:00:00+00:00 to 2019-04-09 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5272 non-null   object
 1   country    5272 non-null   object
 2   location   5272 non-null   object
 3   parameter  5272 non-null   object
 4   value      5272 non-null   float64
 5   unit       5272 non-null   object
dtypes: float64(1), object(5)
memory usage: 164.8+ KB
None
                                city country location parameter  value   unit
date.utc
2019-06-18 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.0  µg/m³
2019-06-17 08:00:00+00:00  Antwerpen      BE  BETR801      pm25    6.5  µg/m³
2019-06-17 07:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.5  µg/m³
2019-06-17 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   16.0  µg/m³
2019-06-17 05:00:00+00:00  Antwerpen      BE  BETR801      pm25    7.5  µg/m³
DatetimeIndex(['2019-06-18 06:00:00+00:00', '2019-06-17 08:00:00+00:00',
               '2019-06-17 07:00:00+00:00', '2019-06-17 06:00:00+00:00',
               '2019-06-17 05:00:00+00:00', '2019-06-17 04:00:00+00:00',
               '2019-06-17 03:00:00+00:00', '2019-06-17 02:00:00+00:00',
               '2019-06-17 01:00:00+00:00', '2019-06-16 01:00:00+00:00',
               ...
               '2019-04-09 11:00:00+00:00', '2019-04-09 10:00:00+00:00',
               '2019-04-09 09:00:00+00:00', '2019-04-09 08:00:00+00:00',
               '2019-04-09 07:00:00+00:00', '2019-04-09 06:00:00+00:00',
               '2019-04-09 05:00:00+00:00', '2019-04-09 04:00:00+00:00',
               '2019-04-09 03:00:00+00:00', '2019-04-09 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='date.utc', length=5272, freq=None)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5272 entries, 2019-06-18 06:00:00+00:00 to 2019-04-09 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5272 non-null   object
 1   country    5272 non-null   object
 2   location   5272 non-null   object
 3   parameter  5272 non-null   object
 4   value      5272 non-null   float64
 5   unit       5272 non-null   object
dtypes: float64(1), object(5)
memory usage: 185.3+ KB
None
                                city country location parameter  value   unit
date.utc
2019-06-18 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.0  µg/m³
2019-06-17 08:00:00+00:00  Antwerpen      BE  BETR801      pm25    6.5  µg/m³
2019-06-17 07:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.5  µg/m³
2019-06-17 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   16.0  µg/m³
2019-06-17 05:00:00+00:00  Antwerpen      BE  BETR801      pm25    7.5  µg/m³

In [15]:
titanic.sort_values(by="Age").head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S

In [25]:
titanic.sort_values(by=['Pclass', 'Age'], ascending=[False, True])[400:500]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.5500,NaN,S
330,331,1,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,NaN,Q
335,336,0,3,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,1,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.0,1,1,230080,26.0000,F2,S
530,531,1,2,"Quick, Miss. Phyllis May",female,2.0,1,1,26360,26.0000,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
193,194,1,2,"Navratil, Master. Michel M",male,3.0,1,1,230080,26.0000,F2,S

In [27]:
print(aq4.head())

                                city country location parameter  value   unit
date.utc
2019-06-18 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.0  µg/m³
2019-06-17 08:00:00+00:00  Antwerpen      BE  BETR801      pm25    6.5  µg/m³
2019-06-17 07:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.5  µg/m³
2019-06-17 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   16.0  µg/m³
2019-06-17 05:00:00+00:00  Antwerpen      BE  BETR801      pm25    7.5  µg/m³

In [29]:
f_no2 = aq4['parameter'] == 'no2'

In [31]:
no2 = aq4[f_no2]
no2.head()

                            city country location parameter  value   unit
date.utc
2019-06-21 00:00:00+00:00  Paris      FR  FR04014       no2   20.0  µg/m³
2019-06-20 23:00:00+00:00  Paris      FR  FR04014       no2   21.8  µg/m³
2019-06-20 22:00:00+00:00  Paris      FR  FR04014       no2   26.5  µg/m³
2019-06-20 21:00:00+00:00  Paris      FR  FR04014       no2   24.9  µg/m³
2019-06-20 20:00:00+00:00  Paris      FR  FR04014       no2   21.4  µg/m³

In [33]:
no2_subset = no2.sort_index().groupby(["location"])
no2_subset.head()

,city,country,location,parameter,value,unit
date.utc,,,,,,
2019-04-09 01:00:00+00:00,Antwerpen,BE,BETR801,no2,22.5,µg/m³
2019-04-09 01:00:00+00:00,Paris,FR,FR04014,no2,24.4,µg/m³
2019-04-09 02:00:00+00:00,London,GB,London Westminster,no2,67.0,µg/m³
2019-04-09 02:00:00+00:00,Antwerpen,BE,BETR801,no2,53.5,µg/m³
2019-04-09 02:00:00+00:00,Paris,FR,FR04014,no2,27.4,µg/m³
2019-04-09 03:00:00+00:00,Antwerpen,BE,BETR801,no2,54.5,µg/m³
2019-04-09 03:00:00+00:00,London,GB,London Westminster,no2,67.0,µg/m³
2019-04-09 03:00:00+00:00,Paris,FR,FR04014,no2,34.2,µg/m³
2019-04-09 04:00:00+00:00,Antwerpen,BE,BETR801,no2,34.5,µg/m³
2019-04-09 04:00:00+00:00,Paris,FR,FR04014,no2,48.5,µg/m³
2019-04-09 04:00:00+00:00,London,GB,London Westminster,no2,41.0,µg/m³
2019-04-09 05:00:00+00:00,Paris,FR,FR04014,no2,59.5,µg/m³
2019-04-09 05:00:00+00:00,Antwerpen,BE,BETR801,no2,46.5,µg/m³
2019-04-09 05:00:00+00:00,London,GB,London Westminster,no2,41.0,µg/m³
2019-04-09 06:00:00+00:00,London,GB,London Westminster,no2,41.0,µg/m³

In [34]:
fn_wse = 'wse.csv'

In [37]:
wse_df = pd.read_csv(fn_wse, index_col=0, parse_dates=True)

In [38]:
wse_df.index

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01',
               '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01',
               '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
               '2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01',
               '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01',
               '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01',
               '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01',
               '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01',
               '2013-09-01', '2013-10-01', '2013-11-01', '2013-12-01',
               '2014-01-01', '2014-02-01', '2014-03-01', '2014-04-01',
               '2014-05-01', '2014-06-01', '2014-07-01', '2014-08-01',
               '2014-09-01', '2014-10-01', '2014-11-01', '2014-12-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [40]:
wse_df.describe()
wse_df.columns

Index(['Elevation'], dtype='object')

In [48]:
wse_df.plot(marker='o', markerfacecolor='r' )