In [1]:
# Pandas for Everyone Read Along
# Created 11/17/20

%matplotlib notebook

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import xlwt
import openpyxl

In [2]:
weather = pd.read_csv('book_resources/data/weather.csv')
print(weather.iloc[:5, :11])

        id  year  month element  d1    d2    d3  d4    d5  d6  d7
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN

In [8]:
print(weather.iloc[1, :])

id         MX17004
year          2010
month            1
element       tmin
d1             NaN
d2             NaN
d3             NaN
d4             NaN
d5             NaN
d6             NaN
d7             NaN
d8             NaN
d9             NaN
d10            NaN
d11            NaN
d12            NaN
d13            NaN
d14            NaN
d15            NaN
d16            NaN
d17            NaN
d18            NaN
d19            NaN
d20            NaN
d21            NaN
d22            NaN
d23            NaN
d24            NaN
d25            NaN
d26            NaN
d27            NaN
d28            NaN
d29            NaN
d30           14.5
d31            NaN
Name: 1, dtype: object

In [3]:
weather_melt = pd.melt(weather, id_vars=['id', 'year', 'month', 'element'],
                      var_name='day',
                      value_name='temp')
print(weather_melt.head())
print(weather_melt.tail())

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN
          id  year  month element  day  temp
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

In [11]:
weather_tidy = pd.pivot_table(weather_melt, index=['id', 'year', 'month', 'day'],
                                       columns='element',
                                       values='temp',
                                       dropna=False)

In [12]:
weather_tidy

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
...                      ...   ...
             12    d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]